Welcome to customer login
<form method = "POST" action="/customer/login">
    Email <input type = "email" placeholder="xyz@domainname.com" name="email"> 
    <p></p>
    Password <input type = "password" placeholder="***********" id="pass1" name="password"> 
    <p></p>
   <button type="submit">Submit</button>
    