<html>
<head></head>
Welcome to customer registration
<body>
<form method = "POST" action="#">
    Name <input type = "text" placeholder="James"> 
    <p></p>
    Phone<input type = "text" placeholder="999999999"> 
    <p></p>
    Email <input type = "email" placeholder="xyz@domainname.com"> 
    <p></p>
    Password <input type = "password" placeholder="***********" id="pass1"> 
    <p></p>
    Confirm Password <input type = "password" placeholder="***********" id="pass2"> 
    
    <p></p>
    <div id="message">

    </div>

    

</form>
<script src="/scripts/CustomerReg.js"></script> 
</body>
</html>
