<html>
<head></head>
Welcome to customer registration
<body>
<form method = "POST" action="/customer/register">
    Name <input type = "text" placeholder="James" name="name"> 
    <p></p>
    Phone<input type = "text" placeholder="999999999" name="phone"> 
    <p></p>
    Email <input type = "email" placeholder="xyz@domainname.com" name="email"> 
    <p></p>
    Password <input type = "password" placeholder="***********" id="pass1" name="password"> 
    <p></p>
   <button type="submit">Submit</button>
    
    <p></p>
    <div id="message">

    </div>

    

</form>
<!--<script src="/scripts/CustomerReg.js"></script> -->
</body>
</html>
