Welcome to seller login
<form method = "POST" action="/seller/login">
    Email <input type = "email" placeholder="xyz@domainname.com" name="companyEmail"> 
    <p></p>
    Password <input type = "password" placeholder="***********" id="pass1" name="password"> 
    <p></p>
   <button type="submit">Submit</button>
    