
<html>
<head></head>
Welcome to seller register
<body>
<form method = "POST" action="/seller/register">
    Name <input type = "text" placeholder="TJ Sellers" name="companyName"> 
    <p></p>
    City<input type = "text" placeholder="Mumbai" name="city"> 
    <p></p>
    Phone<input type = "text" placeholder="999999999" name="phone"> 
    <p></p>
    Email <input type = "email" placeholder="xyz@domainname.com" name="companyEmail"> 
    <p></p>
    Password <input type = "password" placeholder="***********" id="pass1" name="password"> 
    <p></p>
   <button type="submit">Submit</button>
    
    <p></p>
    

    

</form>
<!--<script src="/scripts/CustomerReg.js"></script> -->
</body>
</html>
