THIS IS HOME PAGE FOR SELLERS
<p></p>
Welcome <%=userData.companyName%>
<p></p>

<p></p>
MY Orders :<a href="/seller/orders">Orders</a>
<p></p>
MY Products: <a href = "#">Products</a>
<p></p>
<% myProducts.forEach(item=>{%>
    <%=item%>
    <a href="/products/edit/<%=item._id%>">UpdateDetails</a>
    <form method="POST" action = "/products/<%=item._id%>?_method=DELETE">
        <button type="submit">Delete This</button>
    </form>
    <p></p>
<%})%>
   