<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>

<body style="background-image: url('/img/home-bg.png')">
    <div class="hero-container">
        <img src="./img/logo.svg" alt="" class="hero-logo">
        <div class="hero-content">
            <div class="title">
                <h1>What we Do</h1>
                <p>Welcome to AmazeCart, we ship over 10000 Products globally. Our aim at AmazeCart is to connect verified sellers with customers so that you receive the best prices for what you want.</p>
            </div>
            <div class="follow">
                <h2  style="padding-left: 270px;">Get Started</h2>
               
                <div class="action-buttons" style="padding-left: 170px;">
                    <a href="/customer/login" class="action-button customer-button">Customer</a>
                    <a href="/seller/login" class="action-button seller-button">Seller</a>
                </div>
                
            </div>

        </div>
       
    </div>
    

</body>

</html>