
Welcome to home pageee
<p></p>
<p></p>
<a href = "/customer/login">Customer Login</a>
<p></p>
<a href = "/customer/register">Customer Register</a>
<p></p>
<a href = "/seller/login">Seller Login</a>
<p></p>
<a href = "/seller/register">Seller Register</a>
<p></p>
<a href = "/products">Show all products</a>
<p></p>
<a href = "/products/new">Add a product</a>
<p></p>
<a href = "/category">Show categories</a>
<p></p>
<a href = "/category/new">Add category</a>
<p></p>
<a href = "/seller/home">Seller profile</a>
<p></p>
<a href = "/wishlist">My Wishlist</a>
<p></p>
