<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>

<body style="background-image: url('/img/home-bg.png')">
    <div class="hero-container">
        <img src="./img/logo.svg" alt="" class="hero-logo">
        <div class="hero-content">
            <div class="title">
                <h1>What we Do</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed metus tellus. Donec tincidunt
                    tincidunt orci non consectetur. Nulla at felis eget neque viverra convallis. Ut gravida, odio vel porttitor
                    faucibus, ligula sapien congue turpis.</p>
            </div>
            <div class="follow">
                <h2>Get Started</h2>
                <p>I'm a...</p>
                <div class="action-buttons">
                    <a href="/customer/login" class="action-button customer-button">Customer</a>
                    <a href="/seller/login" class="action-button seller-button">Seller</a>
                </div>
                
            </div>

        </div>
        <div class="utility-container">
            <a href = "/customer/login">Customer Login</a>
            <a href = "/customer/register">Customer Register</a>
            <a href = "/seller/login">Seller Login</a>
            <a href = "/seller/register">Seller Register</a>
            <a href = "/products">Show all products</a>
            <a href = "/products/new">Add a product</a>
            <a href = "/category">Show categories</a>
            <a href = "/category/new">Add category</a>
            <a href = "/seller/home">Seller profile</a>
            <a href = "/wishlist">My Wishlist</a>
            <a href = "/cart">My Cart</a>
        </div>
    </div>
    

</body>

</html>