<%-include('./partials/header')%>
Welcome to home pageee
<p></p>
<p></p>
<a href = "/customer/login">Customer Login</a>
<p></p>
<a href = "/customer/register">Customer Register</a>
<p></p>
<a href = "/seller/login">Seller Login</a>
<p></p>
<a href = "/seller/register">Seller Register</a>
<p></p>