* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", "sans-serif";
    background: url('/img/home-bg-desaturate.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-container {
    margin: 0 auto;
    margin-top: 80px;
    padding: 32px 64px ;
    width: fit-content;
    height: fit-content;
    max-width: 60vw;
    padding-bottom: 70px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.hero-container .hero-logo {
    width: 380px;
    display: block;    
    margin: 0 auto;    
}

.hero-content {    
    /* padding: 48px; */
    margin: 16px;
}
.hero-container .hero-content p {
    font-weight: 400;
    font-size: 18px;
}

.hero-container .hero-content .title {
    /* margin-top: 16px; */
}

.hero-container .hero-content .title h1 {
    font-weight: 600;
    font-size: 40px;
}

.hero-container .hero-content .follow {
    margin-top: 32px;
}

.hero-container .hero-content .follow  h2 {
    font-weight: 600;
    font-size: 30px;
}

.hero-container .hero-content .follow .action-buttons {
    margin-top: 8px;
}

.hero-container .hero-content .follow .action-buttons .action-button {
    display: inline-block;
    margin-right: 8px;
    border-radius: 8px;
    width: 173px;
    text-align: center;
    padding:  8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: 300ms ease;
}


.hero-container .hero-content .follow .action-buttons .customer-button {
    background: rgba(137, 215, 167, 0.81);
    border: 1px solid #A1FDC4;
}
.hero-container .hero-content .follow .action-buttons .seller-button {
    background: rgba(215, 164, 137, 0.81);
    border: 1px solid #FDC1A1;
}
.hero-container .hero-content .follow .action-buttons .customer-button:hover {
    background: rgb(161, 253, 196, 0.81);
}
.hero-container .hero-content .follow .action-buttons .seller-button:hover {
    background: rgb(253, 193, 161, 0.81);
}

