FILL UP THE FORM TO ADD THE PRODUCT

<form method="POST" action="/category" >
   Name:<input type = "text" name="name">
   <p></p>
   Description:<input type = "text" name="description">
   <p></p>
   <button type="submit">Submit</button>
</form>