FILL UP THE FORM TO ADD THE PRODUCT
<p></p>

<p></p>
<p></p>
<form method="POST" action="/products" >
   Name:<input type = "text" name="name">
   <p></p>
   Category:
   <p></p>
   <%category.forEach(item=>{%>
      <%=item.name%>: <input type = "radio" name="category" value=<%=item._id%>>
      
   <%})%>
   <input type = "text" name="seller" value = "<%=userData.id%>" readonly hidden>
   <p></p>
   Stock:<input type = "text" name="stock">
   <p></p>
   Discount:<input type = "text" name="discount">
   <p></p>
   Description:<input type = "text" name="description">
   <p></p>
   Price:<input type = "text" name="price">
   <button type="submit">Submit</button>
</form>